<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 dealers-table-container">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element?.id ||"_"}}</td>
    </ng-container>
    <!-- title Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element?.name || "-"}}</td>
    </ng-container>

    <!-- body Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>E-Mail</th>
      <td mat-cell *matCellDef="let element">{{ element?.email || "_"}}</td>
    </ng-container>

    <ng-container matColumnDef="gstin">
      <th mat-header-cell *matHeaderCellDef>GSTIN</th>
      <td mat-cell *matCellDef="let element">{{ element?.gstin||"_" }}</td>
    </ng-container>

    <ng-container matColumnDef="edit-or-delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" (click)="openEditDialog(element.id)">Edit</button>
        <button mat-button color="primary" (click)="openDeleteDialog(element.id)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef=" displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<mat-card color="primary" class="create-new-card">
  <mat-card-content>
    <button mat-flat-button color="primary" (click)="openCreateDialog()">Create New Dealer</button>
  </mat-card-content>
</mat-card>